.main {
    margin: 100px auto 0;
    height: 100%;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;



    &__projects {
        flex: 1 auto;
        &__name {
            text-align: center;
        }
        margin: 0 auto;
        max-width: 500px;
    }

    &__items {
        padding: 15px;
        border-radius: 5px;
        background-color: rgb(108, 159, 253);

        a {
            color: #fff;
            margin-right: 20px;
        }

        margin: 10px;
    }
    SVG{
        position: absolute;
        bottom: 0;
    }
}