.main {
    &__header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        font-size: 16px;
        background-color: #000000;

        a {
            color: white;
        }

        .dropdown {
            color: white;
            cursor: pointer;
            background-color: #383636;
            border: 1px solid white;
            padding: 10px;
            border-radius: 15px;

            &__content {
                position: absolute;
                width: auto;
                height: auto;
                background-color: #383636;
                left: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .item {
                    color: white;
                    padding: 10px;
                    border-radius: 15px;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}