.add-list {

    &__popup {
        width: 240px;
        height: 150px;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px rgba (0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 18px;
        position: relative;
        box-sizing: border-box;
        top: -25px;
        left: 10px;

        .button {
            width: 100%;
            margin-top: 15px;
        }

        &-close-btn{
            position: absolute;
            right: -8px;
            top: -8px;
            cursor: pointer;
        }
        &-colors {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .badge {
                height: 16px;
                width: 16px;
                cursor: pointer;
                border: 2px solid transparent;

                &.active {
                    border: 2px solid #825252;
                }
            }
        }
    }
}