.wrapper{
    font-family: 'Nunito';
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    height: 100vh;
   
}
.header {
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 20px 10px 110px 10px;
}
.header__nav{
    
}
.header__list{
    display: flex;
    gap: 40px
}
.header__item{
    color: #ececec;
}