.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;

    &--purple {
        background-color: #c355f5;
    }
    &--red {
        background-color: #ff6464;
    }
    &--lime {
        background-color: #b6e6bd;
    }
    &--black {
        background-color: #08001a;
    }
    &--grey {
        background-color: #c9d1d3;
    }
    &--green {
        background-color: #42b883;
    }

    &--blue {
        background-color: #64C4ED;
    }

    &--pink {
        background-color: #FFBBCC;
    }

}